---
import { ModuleDefinitions } from "@repo/utils/modules"

import type { ModuleId } from "@repo/utils/modules"

interface Props {
  moduleId: ModuleId
}

const { moduleId } = Astro.props

const definition = ModuleDefinitions[moduleId]
const variables = "variables" in definition ? definition.variables : undefined
---

<ul>
  {
    variables?.variables.map((variable) => {
      return (
        <li>
          <code>{`{${variable.name}}`}</code> - {variable.description}
        </li>
      )
    }) ?? null
  }
</ul>
