# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up the development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS but must not contain
# any secret values.

# these values must stay the same for local development:

BASE_URL="http://localhost:3000"
DASH_URL="http://localhost:3001/dashboard"
DOCS_URL="http://localhost:3002/docs"
TRPC_URL="http://localhost:4000"

NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# make a discord bot:
# https://discord.com/developers/applications
DISCORD_TOKEN=""
DISCORD_SECRET=""
DISCORD_ID=""

# generate with openssl:
# openssl rand -base64 32
AUTH_COOKIE_SECRET=""
AUTH_OTP_SECRET=""

# generate with openssl:
# openssl rand -base64 32
TRPC_TOKEN=""
