---
import A from "~/components/astro/mdx/A.astro"
import H2 from "~/components/astro/mdx/H2.astro"
import P from "~/components/astro/mdx/P.astro"
import { FAQ } from "~/components/react/faq"

import Layout from "~/layouts/Default.astro"

import type { Frontmatter } from "~/types/props"

export const frontmatter: Frontmatter = {
  title: "Introduction",
  description: "Welcome to the Phase documentation!",
}
---

<Layout frontmatter={frontmatter}>
  <P>
    Phase is a free to use, open source Discord bot built by <A
      href="https://phasebot.xyz/redirect/developer">@mikaeladev</A
    >. It aims to be the all-in-one solution for as many servers as possible,
    with a large variety of different modules and commands.
  </P>
  <P>
    Whether you're seeking to enhance a small server shared with friends or
    overseeing a bustling community, Phase is your solution for effectively
    managing, moderating, and improving your Discord servers.
  </P>

  <H2>FAQ</H2>
  <FAQ client:idle />
</Layout>
