@import "./base.css";

/* plugins */

@plugin "tailwindcss-animate";

/* fonts */

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* animations */

@theme {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;
  --animate-jiggle: jiggle 0.2s infinite;
  --animate-moon-twinkle: moon-twinkle 1s 1s forwards;
  --animate-moon-shrink: moon-shrink 1s ease-in forwards;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }

  @keyframes jiggle {
    0% {
      transform: rotate(-1deg);
    }
    50% {
      transform: rotate(1deg);
    }
  }

  @keyframes moon-twinkle {
    0% {
      width: 0px;
      height: 0px;
    }
    65% {
      width: 100px;
      height: 100px;
      transform: rotate(120deg);
    }
    100% {
      width: 0px;
      height: 0px;
      transform: rotate(180deg);
    }
  }

  @keyframes moon-shrink {
    to {
      width: 0px;
      height: 0px;
      filter: contrast(2.5);
      transform: rotate(120deg);
    }
  }
}

/* utilities */

@utility container {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-inline: auto;

  @media (min-width: 1536px) {
    max-width: 1400px;
  }
}

/* components */

@layer components {
  .prose {
    h1:not(.no-prose):not(:is(.no-prose *)) {
      @apply my-2 scroll-m-20 text-4xl font-bold tracking-tight;
    }

    h2:not(.no-prose):not(:is(.no-prose *)) {
      @apply mt-12 scroll-m-20 border-b pb-2 text-2xl font-semibold tracking-tight first:mt-0;
    }

    h3:not(.no-prose):not(:is(.no-prose *)) {
      @apply mt-8 scroll-m-20 text-xl font-semibold tracking-tight;
    }

    h4:not(.no-prose):not(:is(.no-prose *)) {
      @apply mt-8 scroll-m-20 text-lg font-semibold tracking-tight;
    }

    h5:not(.no-prose):not(:is(.no-prose *)) {
      @apply mt-8 scroll-m-20 text-lg font-semibold tracking-tight;
    }

    h6:not(.no-prose):not(:is(.no-prose *)) {
      @apply mt-8 scroll-m-20 text-base font-semibold tracking-tight;
    }

    hr:not(.no-prose):not(:is(.no-prose *)) {
      @apply my-4 md:my-8;
    }

    img:not(.no-prose):not(:is(.no-prose *)) {
      @apply rounded-md;
    }

    a:not(.no-prose):not(:is(.no-prose *)) {
      @apply font-medium underline underline-offset-2;
    }

    p:not(.no-prose):not(:is(.no-prose *)) {
      @apply mt-6 leading-7 first-of-type:mt-0;
    }

    ul:not(.no-prose):not(:is(.no-prose *)) {
      @apply my-6 ml-6 list-disc;
    }

    ol:not(.no-prose):not(:is(.no-prose *)) {
      @apply my-6 ml-6 list-decimal;
    }

    li:not(.no-prose):not(:is(.no-prose *)) {
      @apply mt-2;
    }

    blockquote:not(.no-prose):not(:is(.no-prose *)) {
      @apply text-muted-foreground mt-6 border-l-2 pl-6;
    }

    code:not(.no-prose):not(:is(.no-prose *)) {
      @apply text-foreground bg-muted/50 mx-[0.25ch] inline-block rounded-[4px] border px-1 font-mono text-sm;
    }
  }
}
